<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col col-12">
            <a routerLink="/hits">
                <h3>
                    <-- Return </h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-6">
            <h1>Create Hit {{hit.id}}</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

                <div class="form-group">
                    <label for="assignee_txt">The Assignee</label>
                    <select formControlName="hitman" class="form-control">
                        <option [ngValue]="null" disabled>-- Select a hitman--</option>
                        <option *ngFor="let assi of assignee_list" [ngValue]="assi.id">
                            {{ assi.name }}
                        </option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="description_txt">A Brief Description</label>
                    <input type="text" class="form-control" id="description_txt" aria-describedby="" placeholder=""
                        formControlName="description">

                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="target_txt">The Target</label>
                    <input type="text" class="form-control" id="target_txt" aria-describedby="" placeholder=""
                        formControlName="target">

                </div>

                <div class="form-group">
                    <label for="assignee_txt">Status</label>
                    <select formControlName="status" class="form-control">
                        <option *ngFor="let status of status_hit" [ngValue]="status[0]">
                            {{ status[1] }}
                        </option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="assignee_txt">Fecha</label>
                    <input type="date" class="form-control" id="assignee_txt" aria-describedby="" placeholder=""
                        formControlName="date">

                </div>

                <div class="row">
                    <div class="" style="padding-top: 30px;">
                        <button type="submit" class="btn btn-primary btn-lg float-right">Create</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>